---
import React from './icons/ReactJs.astro'
import Html from './icons/HTML.astro'
import Css from './icons/Css.astro'
import MongoDB from './icons/MongoDB.astro'
import Node from './icons/Node.astro'
import Handlebars from './icons/Handlebars.astro'
import Vite from './icons/Vite.astro'
import Github from './icons/Github.astro'
import Link from './icons/Link.astro'
import Tailwind from './icons/Tailwind.astro'
import Typescript from './icons/Typescript.astro'
import Nextjs from './icons/Nextjs.astro'
import MySQL from './icons/MySQL.astro'
import Prisma from './icons/Prisma.astro'
import Javascript from './icons/Javascript.astro'
import Storybook from './icons/StoryBook.astro'


const TAGS = {
    REACT: {
        name: "React.Js",
        class: "bg-blue-900 text-red",
        icon: React,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-zinc-100 text-blue-800",
        icon: Typescript,
    },
    STORYBOOK: {
        name: "StoryBook",
        class: "bg-pink-200 text-black",
        icon: Storybook,
    },
    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-amber-950 text-yellow-200",
        icon: Javascript,
    },
    NEXTJS: {
        name: "Next Js",
        class: "bg-zinc-100 text-black",
        icon: Nextjs,
    },
    HTML: {
        name: "HTML",
        class: "bg-amber-800 text-white",
        icon: Html,
    },
    CSS: {
        name: "CSS",
        class: "bg-sky-950 text-white",
        icon: Css,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-black-600 text-white",
        icon: Tailwind,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-green-700 text-white",
        icon: MongoDB,
    },
    NODEJS: {
        name: "Node.js",
        class: "bg-white text-emerald-600",
        icon: Node,
    },
    HANDLEBARS: {
        name: "Handlebars",
        class: "bg-white text-black",
        icon: Handlebars,
    },
    VITE: {
        name: "Vite",
        class: "bg-black text-white",
        icon: Vite
    },
    MySQL: {
        name: "MySQL",
        class: "bg-sky-300/80",
        icon: MySQL,
    },
    PRISMA: {
        name: "Prisma",
        class: "bg-green-700 text-white",
        icon: Prisma,
    },
}

const PROJECTS = [
    {
        title: 'UIForge Design ðŸŽˆ',
        description: 'Created from scratch using React, TypeScript, Vite, and TailwindCSS, UIForge Design is a robust design system available as an NPM package. It features a comprehensive collection of reusable components, enabling seamless integration into your projects. With its modern styling powered by TailwindCSS and developer-friendly architecture, UIForge Design simplifies building consistent and efficient UIs.',
        link: 'https://ui-forge-design.vercel.app',
        github: 'https://github.com/Andresfrla/UIForge-design',
        image: '/projects/UIforge.webp',
        tags: [TAGS.REACT, TAGS.VITE, TAGS.TYPESCRIPT, TAGS.STORYBOOK , TAGS.TAILWIND],
        download: "/projects/logo.png"
    },{
        title: 'Taskify ðŸ“',
        description: 'Created from scratch with React, tailwind, Prisma, Stripe, MySQL and Next.Js it is a clone of the popular aplication of trello. Here you can Manage the task of your organization. You can access for free with your social media.',
        link: 'https://trello-clone-wine-eight.vercel.app/',
        github: 'https://github.com/Andresfrla/trello-clone',
        image: '/projects/taskify.webp',
        tags: [TAGS.REACT, TAGS.NEXTJS, TAGS.MySQL, TAGS.PRISMA , TAGS.TAILWIND],
    },
    {
        title: 'Country Quiz ðŸŒŽ',
        description: 'Make from stratch this app is consuming API to have information about different countries, this GAME is for your knowledge on geography. Are you ready for the challenge?',
        link: 'https://country-quiz-andresfrla.netlify.app/',
        github: 'https://github.com/Andresfrla/country-quiz',
        image: '/projects/country-quiz.webp',
        tags: [TAGS.REACT, TAGS.NEXTJS, TAGS.TAILWIND, TAGS.JAVASCRIPT],
    },
    {
        title: 'Country Rank ðŸŒ',
        description: 'Using an API to get information, on this responsive app you can access to the information of different countries. This App was developing using NextJS and Tailwind CSS for the styling of the page.',
        link: 'https://country-rank-andresfrla.netlify.app/',
        github: 'https://github.com/Andresfrla/country-page-world-rank',
        image: '/projects/country-rank.webp',
        tags: [TAGS.REACT, TAGS.NEXTJS, TAGS.JAVASCRIPT, TAGS.TAILWIND],
    },
    {
        title: 'Vampire VS Zombies ðŸ§› ðŸ§Ÿ',
        description: 'Navigate a world where a vampire avoids zombies using canvas-rendered visuals. Consume pumpkins to transform and turn the undead into your prey. A captivating game crafted with HTML, CSS, and JavaScript.',
        link: 'https://andresfrla.github.io/vampires-vs-zombies/',
        github: 'https://github.com/Andresfrla/vampires-vs-zombies',
        image: '/projects/vampires.webp',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
    },
    {
        title: 'Translated.io ðŸ”¤',
        description: 'Using the changellenges from dev.challenges to make a pixel perfect page with funtionality using Next JS with tailwind CSS for the styles for tabelt and desktop devices',
        link: 'https://profound-mermaid-2168f9.netlify.app/',
        github: 'https://github.com/Andresfrla/translate-app',
        image: '/projects/translate.webp',
        tags: [TAGS.REACT, TAGS.NEXTJS, TAGS.MONGODB, TAGS.TAILWIND],
    },
]
---

    {/* Add comment*/}

{
    PROJECTS.map(({ title, description, tags, image, link, github, download }) => (
        <article class="mb-20">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty text-justify">{description}</p>
            <p class="text-red-300/90">Used technologies:</p>
            <ul class="flex gap-x-2 lg:flex-row mb-5 sm:flex-wrap">
                
                {tags.map((tag) => (
                    <li>
                        <span class={`flex flex-wrap gap-x-2 rounded-full sm:text-xxs md:text-s mb-2 mt-3 sm:mb-1 sm:mt-3 ${tag.class} py-1 px-2 sm:py-0.5 sm:px-1 hover:animate-jump`}>
                            <tag.icon class={`size-4 ${'sm:text-xxs'} mt-1 ml-1`} />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/20 mb-10 animate-scroll" src={image} alt={`Screenshot of the project ${title}`} />
            
                
            {download && (
                <div class="flex flex-col items-center justify-center my-20">
                    <img 
                        class="rounded-full shadow-2xl shadow-white/20 mb-10 animate-scroll max-w-full h-auto size-[500px]"
                        src={download}
                        alt={`Screenshot of the project ${title}`}
                    />

    <h4 class="text-2xl font-semibold text-yellow-200 mb-5">Install the library on npm:</h4>
    
    <div class="flex justify-between items-center bg-slate-800 rounded-xl py-2 px-5">
    $ <span class="text-orange-400 px-2">npm </span> ui-forge-design
    <button
    onclick="navigator.clipboard.writeText('npm i ui-forge-design').then(() => alert('Text Copy!'))"
    class="flex items-center justify-center rounded-xl bg-gray-500 text-white hover:bg-gray-600 px-3 py-2 ml-20"
>
    <svg fill="#FFFFFF" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="20px" height="20px" viewBox="0 0 93.842 93.843"
	 xml:space="preserve">
<g>
	<path d="M74.042,11.379h-9.582v-0.693c0-1.768-1.438-3.205-3.206-3.205h-6.435V3.205C54.819,1.437,53.381,0,51.614,0H42.23
		c-1.768,0-3.206,1.438-3.206,3.205V7.48H32.59c-1.768,0-3.206,1.438-3.206,3.205v0.693h-9.582c-2.393,0-4.339,1.945-4.339,4.34
		v73.785c0,2.394,1.946,4.34,4.339,4.34h54.238c2.394,0,4.339-1.946,4.339-4.34V15.719C78.38,13.324,76.434,11.379,74.042,11.379z
		 M32.617,25.336h28.61c1.709,0,3.102-1.391,3.102-3.1v-3.438h7.554l0.021,68.164l-49.939,0.021V18.801h7.554v3.436
		C29.517,23.945,30.907,25.336,32.617,25.336z"/>
</g>
</svg>
</button>
</div>

                </div>
            )}
            <div class="items-center flex justify-center mb-5">

        

        {link && (
            <div class="flex items-center justify-center mr-20">
                <h3 class="mr-2">Link:</h3>
                <a href={link} class="flex items-center justify-center rounded-full text-s bg-blue-500 text-white py-1 px-2" target="_blank">
                    <div class="rounded-full bg-white p-2 mr-2 hover:animate-jump">
                        <Link class="size-5 text-blue-500" />
                    </div>
                </a>
            </div>
        )}

        {github && (
            <div class="flex items-center justify-center">
                <h3 class="mr-2">Repo:</h3>
                <a href={github} class="flex items-center justify-center rounded-full text-s bg-gray-800 text-white py-1 px-2" target="_blank">
                    <div class="rounded-full bg-white p-2 mr-2 hover:animate-jump">
                        <Github class="size-5 text-gray-800" />
                    </div>
                </a>
            </div>
        )}

            </div>
        </article>
    ))
}



